@import "colors";

$main-font: verdana, sans-serif;

#idMain {
    background-color: $color-light;
}

body {
    font: $main-font;
    margin: 0;
    background-color: $color-light;
    h1,
    h2 {
        color: $color-dark;
    }
}

.website-class {
    background-color: #228888;
    color: #99FFF0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.button-class {
    background-color: #222288;
    color: #FF00FF;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
}