@import "colors";
@import "media-queries";

$main-font: verdana, sans-serif;

// Media query values
$hamburger-start: 500px;
$greeting-move: 900px;

html {
    scroll-behavior: smooth;
}

body {
    font: $main-font;
    margin: 0;
    h1,
    h2 {
        color: $color-dark;
    }
}

#idMain {
    background-color: #D5D5D5;
}

.website-class {
    background-color: #228888;
    color: #99FFF0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.button-class {
    background-color: #222288;
    color: #FF00FF;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
}

.about {
    background-color: #FBFBFB;
    padding: 350px 0px 50px 0px;
    background-size:cover;
    background-position: 75% 0%;
}

.about-image {
    background-color: transparent;
}

.about-blurb {
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    text-shadow: 1px 1px #FFFAFA;

    @media (max-width: #{$greeting-move}) {
        padding-left: 2em;
    }
}

.about-blurb-item {
    margin:2px;
}

.about-greeting {
    font-size: 1.2em;
    font-style: italic;
}

.about-title {
    font-size: 3em;
    font-family: 'Ovo', serif;

    @media (max-width: $hamburger-start) {
        font-size: 2.2em;
    }
}

.about-subtitle {
    font-size: 1.5em;
}

.hamburger-icon {
    display: none;
    position: fixed;
    padding: 5px;
    width: 45px;

    @media (max-width: #{$hamburger-start}) {
        display: block;
    }
}

.hamburger-icon div {
    background-color: black;
    border-radius: 2px;
    padding: 2px;
    margin: 6px;
}

.menu {
    position: absolute;
    top: 0;
    width: 100%;
    // Flex box stuff
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu > a {
    color: black;

    font-size: 1.4em;
    padding-top: 0.5em;
    padding-right: 1em;

    text-shadow: 1px 1px lightgray;

    @media (max-width: #{$hamburger-start}) {
        display: none;
    }
}

.menu-item {
    text-decoration: none;
    transition: color 0.14s;
    text-transform: uppercase;
}

.menu-item:hover  {
    // color: #00c;
    color: #b68d4c;
}

.hamburger-menu-container {
    background-color: #eee9e9;
    position: fixed;
    opacity: 50%;
    float: right;
    width: 35%;
    height: 100%;
    opacity: 0.0;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 20px;

    transition: opacity 0.15s;

    @media (min-width: #{$hamburger-start + 1}) {
        display: none;
    }

    & > a {
        color: black;
        font-size: 1.4em;
        padding: 9px 0px;
    }
}

.menu-open {
    opacity: 0.85;
}

#skills {
    background-color: #D5D5D5;
    h1 {
        color: #3c3c3c;
    }
}

#projects {
    background-color: #545454;
    h1 {
        color: #d5d5d5;
    }
}

#work {
    background-color: #ABABAB;
    h1 {
        color: #1c1c1c;
    }
}

#connect {
    background-color: #444444;
    h1 {
        color: #cdcdcd;
    }
}

.title {
    color: #525252;
    text-transform: uppercase;
    font-size: 2.6em;
    text-align: center;
    margin-block-start: 0.0em;
    margin-block-end: 0.5em;

    @media (max-width: $hamburger-start) {
        font-size: 2.0em;
    }
}

.job {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    margin: 0.9em 0;
    max-width: 65%;
    align-items: center;

    @media (max-width: #{$hamburger-start + 550}) {
        max-width: 85%;
    }

    @media (max-width: #{$hamburger-start + 400}) {
        max-width: 85%;
        flex-direction: column;
    }

    @media (max-width: $hamburger-start) {
        max-width: 90%;
        flex-direction: column;
    }
}

.see-more-button {
    margin-top: 12px;
    padding: 4px;
    text-transform: uppercase;
    font-size: 1.2em;
    color: black;
    background-color: lightgray;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid black;

    &:hover {
        background-color: #b68d4c;
    }

    &:active {
        background-color: #ffa434;
    }
}

.job-image {
    border-radius: 15px;
    width:400px;
    height:400px;

    @media (max-width: #{$hamburger-start + 300}) {
        margin-top: 10px;
        width: 300px;
        height: 300px;
    }

    @media (max-width: $hamburger-start) {
        margin-top: 10px;
        width: 250px;
        height: 250px;
    }
}

.job-details-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    max-width: 50%;

    @media (max-width: #{$hamburger-start + 400}) {
        margin: 0.1em;
        max-width: 95%;
    }

    @media (max-width: #{$hamburger-start + 300}) {
        margin: 0.1em;
        max-width: 95%;
    }

    @media (max-width: $hamburger-start) {
        margin: 0.1em;
        max-width: 95%;
    }
}

.job-product {
    font-size: 1.6em;
    font-weight: bold;

    @media (max-width: $hamburger-start) {
        font-size: 1.25em;
    }
}

.job-company {
    font-size: 1.6em;
    text-transform: uppercase;

    @media (max-width: $hamburger-start) {
        font-size: 1.25em;
    }
}

.section {
    background-color: transparent;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 0px;
}

.job-title {
    font-size: 1.2em;
    font-style: italic;
}

.job-description {
    font-size: 1.0em;
    white-space: pre-wrap;
    font-family: inherit;
}

.project {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 20px;
    padding: 15px;
    max-width: 65%;
    align-items: center;

    @media (max-width: #{$hamburger-start + 550}) {
        max-width: 85%;
    }

    @media (max-width: #{$hamburger-start + 400}) {
        max-width: 85%;
        flex-direction: column;
    }

    @media (max-width: $hamburger-start) {
        max-width: 90%;
        flex-direction: column;
    }
}

.project-image {
    border-radius: 15px;
    width:400px;
    height:400px;

    @media (max-width: #{$hamburger-start + 300}) {
        margin-top: 10px;
        width: 300px;
        height: 300px;
    }

    @media (max-width: $hamburger-start) {
        margin-top: 10px;
        width: 250px;
        height: 250px;
    }
}

.project-text-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    max-width: 50%;

    @media (max-width: #{$hamburger-start + 400}) {
        margin: 0.1em;
        max-width: 95%;
    }

    @media (max-width: #{$hamburger-start + 300}) {
        margin: 0.1em;
        max-width: 95%;
    }

    @media (max-width: $hamburger-start) {
        margin: 0.1em;
        max-width: 95%;
    }
}

.project-title {
    font-size: 2.0em;

    @media (max-width: $hamburger-start) {
        font-size: 1.5em;
    }
}

.project-description {
    font-size: 1.0em;
    white-space: pre-wrap;
    font-family: inherit;
}

.links-container {
    padding-top: 0.2em;
    margin-left: -10px;
    font-size: 1.3em;
    text-transform: uppercase;
    min-width: 100px;
    a {
        color: black;
        padding: 0px 10px;

        &:hover {
            color: darkslategray;
        }
    }

    @media (max-width: $hamburger-start) {
        font-size: 1.1em;
    }
}

.skill-groups-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 0.4;
    justify-content: space-evenly;
    width: 85%;
}

.skills-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    min-width: 275px;
}

.skill-group-title {
    color: #424242;
    font-size: 1.7em;
}

.skill {
    color: black;
    font-size: 1.2em;
    align-self: left;
}

.social-media-list {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media-list-title {
    color: black;
    font-size: 1.9em;
}

.social-media-icon {
    width: 3em;
    height: 3em;
    margin: 5px;
}

.email-me-button {
    border: 1px solid black;
    color: black;
    font-size: 1.4em;
    font-weight: 500;
    text-decoration: none;
    background-color: #D5D5D5;
    border-radius: 17px;
    padding: 8px;
    text-transform: lowercase;
    margin-top: 5px;

    &:hover {
        background-color: #b68d4c;
    }

    &:active {
        background-color: #ffa434;
    }
}

.connect-container {
    padding: 0x;
}

.footer {
    background-color: #212121;
    color: darkgray;

    a {
        color: darkgray;
    }
}